* {
  box-sizing: border-box;
}
/* header start */
.gap {
  margin-right: 1em;
}
.btn--signup {
  display: inline-block;
  padding: 0.5em 2em !important;
  color: #f53838 !important;
  font-weight: bold;
  border: 1px solid #f53838;
}
.btn--signup:hover {
  color: white !important;
  background-color: #f53838;
}
/* header end */
